# See https://atom.io/docs/latest/creating-a-package#menus for more details
'.overlayer':
  'Enable path-to-module': 'path-to-module:file2module'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'path-to-module'
      'submenu': [
        { 'label': 'FileToModule', 'command': 'path-to-module:file2module' }
        { 'label': 'ModuleToFile', 'command': 'path-to-module:module2file' }
      ]
    ]
  }
]
